body{background-image: url(assets/wizard_background.jpg);  background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed;}

.header{position:absolute; left:4%; top: 0%; font-size: 530%; color: #d9c96d; font-family: "Pirata One", system-ui; font-weight: 400;font-style: normal;}

.main{width: 36rem; height: 45rem; position: absolute; right:14rem; top: 25%; background-color: antiquewhite; padding: 0 15px 0 15px}
.paragraph{text-align: center;}

.door{background-color: rgb(96, 59, 30); width: 27rem; height: 44rem; position: absolute; bottom:0%; left:6%}