.text-bubble-univ{display:none; position: absolute; right: 10%; bottom: 15%; background-color: rgba(0, 0, 0, 0.564); max-width:26%}
.text-univ{margin: 10px; color: white; text-align: left; font-size: 100%;}
.text-bubble-intro{display:block; position: absolute; right: 10%; bottom: 15%; background-color: rgba(0, 0, 0, 0.564); max-width:26%}

.draggable {cursor: grab;}

.draggable:active {cursor: grabbing;}
