.object-univ{background-color:blueviolet; height: 60px; width: 60px; transition: all 300ms;}
.object-univ:hover{height: 70px; width: 70px; transform: translate(-5px, -5px);}

.mmm{color:white; font-size:smaller;}
a{color: white;}

.object1{position:absolute; top:18%; left: 15%;}
.object2{position:absolute; top:18% ; left:24% ;}
.object3{position:absolute; top:18% ; left:33% ;}
.object4{position:absolute; top:18% ; left:40% ;}
.object5{position:absolute; top:33% ; left:15% ;}
.object6{position:absolute; top:34% ; left:22% ;}
.object7{position:absolute; top:34% ; left:30% ;}
.object8{position:absolute; top:34% ; left:39% ;}
.object9{position:absolute; top:48% ; left:16% ;}
.object10{position:absolute; top:48% ; left:23% ;}
.object11{position:absolute; top:48% ; left:32% ;}
.object12{position:absolute; top:48% ; left:40% ;}
.object13{position:absolute; top:64% ; left:15% ;}
.object14{position:absolute; top:64% ; left:24% ;}
.object15{position:absolute; top:65% ; left:33% ;}
.object16{position:absolute; top:65% ; left:40% ;}
.object17{position:absolute; top:80% ; left:15% ;}
.object18{position:absolute; top:80% ; left:23% ;}
.object19{position:absolute; top:81% ; left:31% ;}
.object20{position:absolute; top:80% ; left:39% ;}

.hide{display:none}

.shelf{height: 96%; width: 49%; position: absolute; top:4%; left:5%}