.object-univ{transition: all 300ms;}


.mmm{color:white; font-size:smaller;}
a{color: white;}

.object1{position:absolute; top:12%; left: 14%; height: 15%; width: 7.5%;}
.object1hover{position:absolute; top:12%; left: 14%; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object1:hover) .object1hover {display:block;} 

.object2{position:absolute; top:13% ; left:23% ; height: 15%; width: 7.5%;}
.object2hover{position:absolute; top:13% ; left:23% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object2:hover) .object2hover {display:block;} 

.object3{position:absolute; top:14.5%; left:31% ; height: 15%; width: 7.5%;}
.object3hover{position:absolute; top:14.5% ; left:31% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object3:hover) .object3hover {display:block;} 

.object4{position:absolute; top:15% ; left:38% ; height: 15%; width: 7.5%;}
.object4hover{position:absolute; top:15% ; left:38% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object4:hover) .object4hover {display:block;} 

.object5{position:absolute; top:30% ; left:13% ; height: 15%; width: 7.5%; background-image: url(assets/objects/spooky.png); background-size: contain; background-repeat: no-repeat;}
.object5hover{position:absolute; top:30% ; left:13% ; height: 15%; width: 7.5%; display: none; background-image: url(assets/objects-hover/spooky-copy.png); background-size: contain; background-repeat: no-repeat; transform: scale(1.1); pointer-events: none;}
body:has(.object5:hover) .object5hover {display:block;} 

.object6{position:absolute; top:27% ; left:19% ; height: 21%; width: 10.5%;}
.object6hover{position:absolute; top:27% ; left:19% ; height: 21%; width: 10.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object6:hover) .object6hover {display:block;} 

.object7{position:absolute; top:29% ; left:31% ; height: 15%; width: 7.5%;}
.object7hover{position:absolute; top:29% ; left:31% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object7:hover) .object7hover {display:block;} 

.object8{position:absolute; top:33% ; left:39% ; height: 15%; width: 7.5%;}
.object8hover{position:absolute; top:33% ; left:39% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object8:hover) .object8hover {display:block;} 

.object9{position:absolute; top:45% ; left:14% ; height: 15%; width: 7.5%; background-image: url(assets/objects/shapes.png); background-size: contain; background-repeat: no-repeat;}
.object9hover{position:absolute; top:44.5% ; left:13.5% ; height: 12.5%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object9:hover) .object9hover {display:block;} 

.object10{position:absolute; top:44% ; left:22% ; height: 18%; width: 9%;}
.object10hover{position:absolute; top:44% ; left:22% ; height: 18%; width: 9%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object10:hover) .object10hover {display:block;} 

.object11{position:absolute; top:44% ; left:31% ; height: 15%; width: 7.5%;}
.object11hover{position:absolute; top:44% ; left:31% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object11:hover) .object11hover {display:block;} 

.object12{position:absolute; top:45% ; left:38% ; height: 15%; width: 7.5%; background-image: url(assets/objects/cereal.png); background-size: contain; background-repeat: no-repeat;}
.object12hover{position:absolute; top:45% ; left:38.5%; height: 12%; width: 6.5%    ; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object12:hover) .object12hover {display:block;} 

.object13{position:absolute; top:59% ; left:13% ; height: 15%; width: 7.5%;}
.object13hover{position:absolute; top:59% ; left:13% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object13:hover) .object13hover {display:block;} 

.object14{position:absolute; top:60% ; left:21% ; height: 15%; width: 7.5%;}
.object14hover{position:absolute; top:60% ; left:21% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object14:hover) .object14hover {display:block;} 

.object15{position:absolute; top:60% ; left:29% ; height: 15%; width: 7.5%; background-image: url(assets/objects/portal.gif); background-size: contain; background-repeat: no-repeat;}
.object15hover{position:absolute; top:60% ; left:29% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object15:hover) .object15hover {display:block;} 

.object16{position:absolute; top:61% ; left:37% ; height: 15%; width: 7.5%;}
.object16hover{position:absolute; top:61% ; left:36.5% ; height: 15%; width: 8.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object16:hover) .object16hover {display:block;} 

.object17{position:absolute; top:75% ; left:12% ; height: 15%; width: 7.5%;}
.object17hover{position:absolute; top:75% ; left:12% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object17:hover) .object17hover {display:block;} 

.object18{position:absolute; top:76% ; left:22% ; height: 15%; width: 7.5%;  background-image: url(/assets/nodding-smoking-monkey-approves.gif); background-size: contain; background-repeat: no-repeat;}
.object18hover{position:absolute; top:76%  ; left:22% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object18:hover) .object18hover {display:block;} 

.object19{position:absolute; top:75% ; left:29% ; height: 15%; width: 7.5%;}
.object19hover{position:absolute; top:75% ; left:29% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object19:hover) .object19hover {display:block;} 

.object20{position:absolute; top:75% ; left:36% ; height: 15%; width: 7.5%;}
.object20hover{position:absolute; top:75% ; left:36% ; height: 15%; width: 7.5%; display: none; transform: scale(1.1); pointer-events: none;}
body:has(.object20:hover) .object20hover {display:block;} 

.hide{display:none}

.shelf{height: 96%; width: 49%; position: absolute; top:4%; left:5%}